<h2>formulario de carga de productos</h2>
<form action='/api/productos' method='post' class="inputs">
    <div class="inp">
        <label for="name">Nombre:</label>
        <input type="text" name="name" required>
    </div>
    <div class="inp">
        <label for="price">Precio:</label>
        <input type="number" name="price" required>
    </div>
    <div class="inp">
        <label for="thumbnail">Link img:</label>
        <input type="text" name="thumbnail" required>
    </div>
    <button type="submit" class="y_n">Subir</button>
</form>